.signup {
  background-color: hsl(0deg, 100%, 74%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
.signup .left {
  margin: auto;
  height: 15%;
  width: 80%;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.signup .left h2 {
  font-size: 1.8rem;
}
.signup .right {
  margin: auto;
  height: 70%;
  width: 60%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 4%;
}
.signup form {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 20px;
  padding-top: 8px;
  border-radius: 8px;
}
.signup .error-msg {
  border: 1px solid red;
  background-color: #fff;
  height: fit-content;
  min-height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  padding-left: 10px;
  gap: 5px;
  border-radius: 8px;
}
.error-msg span {
  color: red;
  font-size: 1rem;
  align-self: center;
}
form input {
  height: 15%;
  border-radius: 5px;
  border: 1px solid hsl(246deg, 25%, 77%);
  padding: 5px 15px;
}
form input:focus {
  outline: none;
}
form input::placeholder {
  font-size: 1.1rem;
}
form button {
  background-color: hsl(154deg, 59%, 51%);
  border: none;
  height: 15%;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
form button:hover {
  opacity: 0.6;
}
.right form span {
  margin: 0 auto;
  font-size: 1rem;
  margin-bottom: 10px;
  color: hsl(0deg, 100%, 74%);
}
a:link {
  text-decoration: none;
}
.hide-error-div {
  visibility: hidden;
}
@media (max-width: 700px) {
  .left {
    grid-column: 1 / 3;
  }
  .signup .right {
    grid-column: 1 / 3;
    height: 100%;
    margin: 0 auto;
  }
}
