.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-for-chatList {
  height: 35%;
  margin-top: 30%;
}
.loading-for-chat-area {
  height: 30%;
  margin: auto 0;
}
.loading-for-settings {
  height: 100%;
  width: 100%;
  margin-top: 30%;
}

.loading-for-update {
  background-color: white;
  border-radius: 10px;
}
.loading-for-settings .wave {
  height: 40%;
  width: 10%;
}
.loading-for-update .wave {
  height: 40%;
  width: 2%;
}
.loading-for-chat-area .wave {
  width: 2%;
  height: 100%;
}
.loading-for-chatList .wave {
  width: 3%;
  height: 50%;
}
.loading-for-auth .wave {
  width: 1%;
  height: 35%;
  background: linear-gradient(45deg, hsl(154deg, 59%, 51%), #fff);
}
.wave {
  background: linear-gradient(45deg, cyan, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* @media (min-width: 100px) and (max-width: 225px) {
  .loading-for-settings .wave {
    height: 30%;
    width: 8%;
    margin: 2px;
  }
} */
@media (min-width: 100px) and (max-width: 699px) {
  .loading-for-settings .wave {
    height: 10%;
    width: 8%;
    margin: 2px;
  }
}
@media (min-width: 700px) and (max-width: 1100px) {
  .loading-for-settings .wave {
    height: 5%;
    width: 8%;
    margin: 5px;
  }
}
