.desktop-view {
  display: grid;
  grid-template-columns: 0.7fr 2fr;
  grid-template-rows: 100vh;
  overflow: hidden;
  /* background-color: #18122b; */
}

@media (min-width: 700px) and (max-width: 1000px) {
  .desktop-view {
    grid-template-columns: 1.2fr 2fr;
    width: 100vw;
  }
}
@media (min-width: 1001px) {
  .desktop-view {
    grid-template-columns: 0.8fr 2fr;
  }
}
